.vtexlm-likeWrap{display:none;background:#EDEDED;left:-12px;padding:9px 5px;position:absolute;top:-1px;width:235px;z-index:10;}
.vtexlm-likeOverflow{overflow:hidden;height:30px;}

/*uzgames*/
.prateleira ul li{padding-top:28px;}